[build]
target = "xtensa-esp32s3-espidf"

[target.xtensa-esp32s3-espidf]
linker = "ldproxy"
runner = "espflash flash --monitor --chip esp32s3"

[unstable]
build-std = ["std", "panic_abort"]

[env]
MCU = "esp32s3"
